@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}
a {
    text-decoration: none;
}

h1 {
    font-family: var(--h-1-font-family);
    font-weight: var(--h-1-font-weight);
    font-size: var(--h-1-font-size);
    letter-spacing: var(--h-1-letter-spacing);
    line-height: var(--h-1-line-height);
    font-style: var(--h-1-font-style);
    color: var(--black);
}

h2 {
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    font-size: var(--h-2-font-size);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    font-style: var(--h-2-font-style);
    color: var(--black);
}

h3 {
    font-family: var(--h-3-font-family);
    font-weight: var(--h-3-font-weight);
    font-size: var(--h-3-font-size);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    font-style: var(--h-3-font-style);
    color: var(--black);
}

h4 {
    font-family: var(--h-4-font-family);
    font-weight: var(--h-4-font-weight);
    font-size: var(--h-4-font-size);
    letter-spacing: var(--h-4-letter-spacing);
    line-height: var(--h-4-line-height);
    font-style: var(--h-4-font-style);
    color: var(--black);
}

p {
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
    color: var(--black);
}

/* Stile für mobile Geräte
(eigentlich unnötig für uns, aber in styleguide war es dabei) */
@media (max-width: 768px) {
    h1 {
        font-family: var(--h1-mob-font-family);
        font-weight: var(--h1-mob-font-weight);
        font-size: var(--h1-mob-font-size);
        letter-spacing: var(--h1-mob-letter-spacing);
        line-height: var(--h1-mob-line-height);
        font-style: var(--h1-mob-font-style);
        color: var(--black);
    }

    h2 {
        font-family: var(--h2-mob-font-family);
        font-weight: var(--h2-mob-font-weight);
        font-size: var(--h2-mob-font-size);
        letter-spacing: var(--h2-mob-letter-spacing);
        line-height: var(--h2-mob-line-height);
        font-style: var(--h2-mob-font-style);
        color: var(--black);
    }

    h3 {
        font-family: var(--h3-mob-font-family);
        font-weight: var(--h3-mob-font-weight);
        font-size: var(--h3-mob-font-size);
        letter-spacing: var(--h3-mob-letter-spacing);
        line-height: var(--h3-mob-line-height);
        font-style: var(--h3-mob-font-style);
        color: var(--black);
    }

    h4 {
        font-family: var(--h4-mob-font-family);
        font-weight: var(--h4-mob-font-weight);
        font-size: var(--h4-mob-font-size);
        letter-spacing: var(--h4-mob-letter-spacing);
        line-height: var(--h4-mob-line-height);
        font-style: var(--h4-mob-font-style);
        color: var(--black);
    }

    p {
        font-family: var(--p-mob-font-family);
        font-weight: var(--p-mob-font-weight);
        font-size: var(--p-mob-font-size);
        letter-spacing: var(--p-mob-letter-spacing);
        line-height: var(--p-mob-line-height);
        font-style: var(--p-mob-font-style);
        color: var(--black);
    }
}