@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    height: 100%;
}

/* a blue color as a generic focus style */
/* keine Ahnung, was das bringt (kommt von Figma Anima) */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

a {
    text-decoration: none;
}

h1 {
    font-family: var(--h-1-font-family);
    font-weight: var(--h-1-font-weight);
    font-size: var(--h-1-font-size);
    letter-spacing: var(--h-1-letter-spacing);
    line-height: var(--h-1-line-height);
    font-style: var(--h-1-font-style);
    color: var(--black);
}

h2 {
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    font-size: var(--h-2-font-size);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    font-style: var(--h-2-font-style);
    color: var(--black);
}

h3 {
    font-family: var(--h-3-font-family);
    font-weight: var(--h-3-font-weight);
    font-size: var(--h-3-font-size);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    font-style: var(--h-3-font-style);
    color: var(--black);
}

h4 {
    font-family: var(--h-4-font-family);
    font-weight: var(--h-4-font-weight);
    font-size: var(--h-4-font-size);
    letter-spacing: var(--h-4-letter-spacing);
    line-height: var(--h-4-line-height);
    font-style: var(--h-4-font-style);
    color: var(--black);
}

p {
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
    color: var(--black);
}

/* Stile für mobile Geräte
(eigentlich unnötig für uns, aber in styleguide war es dabei) */
@media (max-width: 768px) {
    h1 {
        font-family: var(--h1-mob-font-family);
        font-weight: var(--h1-mob-font-weight);
        font-size: var(--h1-mob-font-size);
        letter-spacing: var(--h1-mob-letter-spacing);
        line-height: var(--h1-mob-line-height);
        font-style: var(--h1-mob-font-style);
        color: var(--black);
    }

    h2 {
        font-family: var(--h2-mob-font-family);
        font-weight: var(--h2-mob-font-weight);
        font-size: var(--h2-mob-font-size);
        letter-spacing: var(--h2-mob-letter-spacing);
        line-height: var(--h2-mob-line-height);
        font-style: var(--h2-mob-font-style);
        color: var(--black);
    }

    h3 {
        font-family: var(--h3-mob-font-family);
        font-weight: var(--h3-mob-font-weight);
        font-size: var(--h3-mob-font-size);
        letter-spacing: var(--h3-mob-letter-spacing);
        line-height: var(--h3-mob-line-height);
        font-style: var(--h3-mob-font-style);
        color: var(--black);
    }

    h4 {
        font-family: var(--h4-mob-font-family);
        font-weight: var(--h4-mob-font-weight);
        font-size: var(--h4-mob-font-size);
        letter-spacing: var(--h4-mob-letter-spacing);
        line-height: var(--h4-mob-line-height);
        font-style: var(--h4-mob-font-style);
        color: var(--black);
    }

    p {
        font-family: var(--p-mob-font-family);
        font-weight: var(--p-mob-font-weight);
        font-size: var(--p-mob-font-size);
        letter-spacing: var(--p-mob-letter-spacing);
        line-height: var(--p-mob-line-height);
        font-style: var(--p-mob-font-style);
        color: var(--black);
    }
}

.fullscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.spacer {
    width: 1440px;
}

.header-big {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--beige);
}

.header-big .content {
    display: flex;
    width: 1440px;
    /**position: sticky;
    top: 0;
    z-index: 1000;*/
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px 150px;
}

.header-big .frame-logo-cook-clever {
    display: flex;
    width: 160px;
    height: 160px;
    align-items: center;
    gap: 10px;
    position: relative;
}

.header-big .logo-cook-clever-with-title {
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    object-fit: cover;
}

.header-big .frame-navigation {
    display: flex;
    flex-direction: column;
    width: 900px;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 0px;
    align-self: stretch;
    align-items: flex-start;
    position: relative;
}

.header-big .navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.header-big .search-bar {
    display: flex;
    width: 490px;
    align-items: center;
    padding: 8px;
    position: relative;
    background-color: var(--beige-dark);
    border-radius: 10px;
}

.header-big .magnifying-glass {
    position: relative;
    width: 28px;
    height: 28px;
}

.header-big .image-magnifying-glass {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0;
}

.header-big .placeholder-label {
    all: unset;
    position: relative;
    flex: 1;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 500;
    color: var(--grey-dark-085);
    font-size: 17px;
    letter-spacing: -0.41px;
    line-height: 22px;
}

/* Placeholderfarbe für Firefox festlegen */
.header-big .placeholder-label::placeholder,
.header-small .placeholder-label::placeholder {
    color: var(--grey-dark-085);
}

.header-big .about-us {
    all: unset;
    position: relative;
    width: fit-content;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    cursor: pointer;
}

.header-big .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 35px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 14px;
    border: 1px solid;
    border-color: var(--black);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.header-big .button:hover, .header-small .button:hover {
    background-color: var(--beige-dark);
}

.header-big .label {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.header-small {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--beige);
}

.header-small .content {
    display: flex;
    width: 1440px;
    /*position: sticky;
    top: 0;
    z-index: 1000;*/
    align-items: flex-start;
    justify-content: space-between;
    padding: 17px 100px;
}

.header-small .frame-logo-cook-clever {
    display: flex;
    width: 131px;
    height: 110px;
    align-items: center;
    gap: 10px;
    position: relative;
}

.header-small .logo-cook-clever-without-title {
    position: relative;
    width: 131px;
    height: 110px;
    object-fit: cover;
}

.header-small .frame {
    display: inline-flex;
    height: 113px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 25px 0px 0px;
    position: relative;
    flex: 0 0 auto;
}

.header-small .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 700;
    color: var(--black);
    font-size: 32px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.header-small .frame-navigation {
    display: flex;
    flex-direction: column;
    width: 865px;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 0px;
    position: relative;
    align-self: stretch;
}

.header-small .navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.header-small .search-bar {
    display: flex;
    width: 470px;
    align-items: center;
    padding: 8px;
    position: relative;
    background-color: var(--beige-dark);
    border-radius: 10px;
}

.header-small .magnifying-glass {
    position: relative;
    width: 28px;
    height: 28px;
}

.header-small .image-magnifying-glass {
    position: absolute;
    width: 28px;
    height: 28px;
    top: -1px;
    left: 0;
}

.header-small .placeholder-label {
    all: unset;
    position: relative;
    flex: 1;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 500;
    color: var(--grey-dark-085);
    font-size: 17px;
    letter-spacing: -0.41px;
    line-height: 22px;
}

.header-small .about-us {
    all: unset;
    position: relative;
    width: fit-content;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    cursor: pointer;
}

.header-small .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 35px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 14px;
    border: 1px solid;
    border-color: var(--black);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.header-small .label {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.footer-block {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 100px;
    position: relative;
}

.footer-block .footer {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    padding: 40px 60px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -1.00px;
    background-color: var(--beige);
    border-radius: 45px 45px 0px 0px;
}

.footer-block .contacts {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .logo-and-name {
    display: flex;
    width: 1121px;
    align-items: center;
    gap: 50px;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .logo-cook-clever {
    display: flex;
    width: 131px;
    height: 110px;
    align-items: center;
    gap: 10px;
    position: relative;
}

.footer-block .cook-clever-without-title {
    position: relative;
    width: 131px;
    height: 110px;
    object-fit: cover;
}

.footer-block .name-frame {
    display: inline-flex;
    height: 113px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 25px 0px 0px;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .logo-and-name .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 700;
    color: var(--black);
    font-size: 32px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.footer-block .contributors-frame {
    display: inline-flex;
    align-items: flex-start;
    gap: 154px;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .contact-us {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .heading {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .label {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 7px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--mint);
    border-radius: 7px;
}

.footer-block .label-text {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--h-4-font-family);
    font-weight: var(--h-4-font-weight);
    color: var(--white);
    font-size: var(--h-4-font-size);
    letter-spacing: var(--h-4-letter-spacing);
    line-height: var(--h-4-line-height);
    font-style: var(--h-4-font-style);
}

.footer-block .info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0px 0px 0px 7px;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .contributors-frame .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: var(--black);
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
}

.footer-block .contributors-frame .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: var(--black);
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
}

.footer-block .line-and-text {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .line {
    position: relative;
    width: 1120px;
    height: 1px;
    margin-top: -1.00px;
    object-fit: contain;
}

.footer-block .text {
    display: flex;
    width: 667px;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .element-cook-clever {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}