/*hat chatgpt vorgeschlagen, weiß nicht, ob das gut ist*/
@media (max-width: 1024px) {
    .block-rezepte {
        width: 100%;
        padding: 0 20px;
    }

    .rezepte-block {
        flex-direction: column;
        padding: 0 20px;
    }

    .rezept-karte {
        width: 100%;
        padding: 20px;
    }
}

.fullscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.spacer {
    width: 1440px;
}

.header-big {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--beige);
}

.header-big .content {
    display: flex;
    width: 1440px;
    /**position: sticky;
    top: 0;
    z-index: 1000;*/
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px 150px;
}

.header-big .frame-logo {
    display: inline-flex;
    gap: 10px;
    flex: 0 0 auto;
    align-items: flex-start;
    position: relative;
}

.header-big .logo-cook-clever {
    display: flex;
    width: 160px;
    height: 160px;
    align-items: center;
    gap: 10px;
    position: relative;
}

.header-big .logo-cook-clever-mit-schrift {
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    object-fit: cover;
}

.header-big .frame-navigation {
    display: flex;
    flex-direction: column;
    width: 900px;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 0px;
    align-self: stretch;
    align-items: flex-start;
    position: relative;
}

.header-big .navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.header-big .suchleiste {
    display: flex;
    width: 490px;
    align-items: center;
    padding: 8px;
    position: relative;
    background-color: var(--beige-dark);
    border-radius: 10px;
}

.header-big .lupe {
    position: relative;
    width: 28px;
    height: 28px;
}

.header-big .magnifyingglass {
    position: absolute;
    width: 28px;
    height: 28px;
    top: -1px;
    left: 0;
}

.header-big .placeholder-label {
    all: unset;
    position: relative;
    flex: 1;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 500;
    color: var(--label-colorslc-l-secondary);
    font-size: 17px;
    letter-spacing: -0.41px;
    line-height: 22px;
}

.header-big .about-us {
    all: unset;
    position: relative;
    width: fit-content;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    cursor: pointer;
}

.header-big .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 35px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 14px;
    border: 1px solid;
    border-color: var(--black);
    cursor: pointer;
}

.header-big .button:hover {
    background-color: var(--beige-dark);
}

.header-big .label {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.header-small {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--beige);
}

.header-small .content {
    display: flex;
    width: 1440px;
    /*position: sticky;
    top: 0;
    z-index: 1000;*/
    align-items: flex-start;
    justify-content: space-between;
    padding: 17px 100px;
}

.header-small .frame-logo {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.header-small .logo-cook-clever {
    display: flex;
    width: 131px;
    height: 110px;
    align-items: center;
    gap: 10px;
    position: relative;
}

.header-small .logo-cook-clever-ohne-schrift {
    position: relative;
    width: 131px;
    height: 110px;
    object-fit: cover;
}

.header-small .frame {
    display: inline-flex;
    height: 113px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 25px 0px 0px;
    position: relative;
    flex: 0 0 auto;
}

.header-small .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 700;
    color: var(--black);
    font-size: 32px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.header-small .frame-navigation {
    display: flex;
    flex-direction: column;
    width: 865px;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 0px;
    position: relative;
    align-self: stretch;
}

.header-small .navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.header-small .suchleiste {
    display: flex;
    width: 470px;
    align-items: center;
    padding: 8px;
    position: relative;
    background-color: var(--beige-dark);
    border-radius: 10px;
}

.header-small .lupe {
    position: relative;
    width: 28px;
    height: 28px;
}

.header-small .magnifyingglass {
    position: absolute;
    width: 28px;
    height: 28px;
    top: -1px;
    left: 0;
}

.header-small .placeholder-label {
    all: unset;
    position: relative;
    flex: 1;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 500;
    color: var(--label-colorslc-l-secondary);
    font-size: 17px;
    letter-spacing: -0.41px;
    line-height: 22px;
}

.header-small .about-us {
    all: unset;
    position: relative;
    width: fit-content;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
    cursor: pointer;
}

.header-small .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 35px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 14px;
    border: 1px solid;
    border-color: var(--black);
    cursor: pointer;
}

.header-small .button:hover {
    background-color: var(--beige-dark);
}

.header-small .label {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.header-small-spacer {
    width: 1440px;
    height: 63px;
}

.kategorie-block {
    display: flex;
    width: 1440px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 35px;
    position: relative;
}

.kategorie-block .frame-link-icon {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
}

.kategorie-block .link-icon {
    position: relative;
    width: 41px;
    height: 41px;
    /*flex: 0 0 auto;*/
}

.kategorie-block .kategorie-karten {
    width: 1240px;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.kategorie-block .kategorie-karte {
    width: 386px;
    height: 200px;
    align-items: center;
    padding: 27px;
    background-color: var(--grey);
    border-radius: 45px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--dark);
    box-shadow: 0px 5px 0px #00000040;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.kategorie-block .heading-link-1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    position: relative;
    flex: 0 0 auto;
}

.kategorie-block .heading-link-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.kategorie-block .heading {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.kategorie-block .label {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 7px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--mint);
    border-radius: 7px;
}

.kategorie-block .text-wrapper {
    margin-top: -1.00px;
    font-family: var(--h-4-font-family);
    font-weight: var(--h-4-font-weight);
    color: var(--white);
    font-size: var(--h-4-font-size);
    line-height: var(--h-4-line-height);
    position: relative;
    width: fit-content;
    letter-spacing: var(--h-4-letter-spacing);
    font-style: var(--h-4-font-style);
}

.kategorie-block .link-small {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
}

.kategorie-block .link-description {
    font-family: "Space Grotesk", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 19px;
    line-height: 28px;
    white-space: nowrap;
    position: relative;
    width: fit-content;
    letter-spacing: 0;
}

.kategorie-block .vorschaubild-container {
    position: relative;
    width: 165px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kategorie-block .vorschaubild-container .vorschaubild {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.kategorie-block .vorschaubild-container .vorschaubild-vegan {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.heading-subheading {
    display: flex;
    width: 1440px;
    height: 51px;
    align-items: center;
    gap: 40px;
    padding: 0px 100px;
    position: relative;
}

.heading-subheading .heading {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.heading-subheading .label {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 7px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--beige);
    border-radius: 7px;
}

.heading-subheading .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    color: var(--black);
    font-size: var(--h-2-font-size);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    font-style: var(--h-2-font-style);
}

.heading-subheading .subheading {
    position: relative;
    width: fit-content;
    font-family: var(--h-4-font-family);
    font-weight: var(--h-4-font-weight);
    color: var(--black);
    font-size: var(--h-4-font-size);
    letter-spacing: var(--h-4-letter-spacing);
    line-height: var(--h-4-line-height);
    font-style: var(--h-4-font-style);
}

.block-rezepte {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: flex-start;
    gap: 40px;
    position: relative;
}

.block-rezepte .rezepte-block {
    display: flex;
    width: 1440px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 100px;
    position: relative;
    flex: 0 0 auto;
}

.block-rezepte .rezept-karte {
    display: flex;
    width: 600px;
    height: 310px;
    align-items: center;
    gap: 40px;
    padding: 40px;
    position: relative;
    background-color: var(--grey);
    border-radius: 45px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--dark);
    box-shadow: 0px 5px 0px #00000040;
}

.block-rezepte .heading-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    flex: 1;
}

.block-rezepte .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    max-width: 100%;
    flex: 0 0 auto;
}

.block-rezepte .label {
    display: flex;
    flex-direction: column;
    height: 153px;
    max-width: 100%;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 7px;
    position: relative;
    align-self: stretch;
    border-radius: 7px;
    overflow: hidden;
    background-color: var(--transparent);
}

.block-rezepte .label-text {
    display: block;
    position: relative;
    margin-top: -1.00px;
    max-width: 100%;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto; /*für automatische Bindestriche*/
    font-family: var(--h-3-font-family);
    font-weight: var(--h-3-font-weight);
    color: var(--mint);
    font-size: var(--h-3-font-size);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    font-style: var(--h-3-font-style);
}

.block-rezepte .link {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    position: relative;
    flex: 0 0 auto;
}

.block-rezepte .frame-link-icon {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
}

.block-rezepte .link-icon {
    position: relative;
    width: 41px;
    height: 41px;
    /*flex: 0 0 auto;*/
}

.block-rezepte .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.block-rezepte .vorschaubild-container {
    display: flex;
    flex-direction: column;
    width: 265px;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: stretch;
}

.block-rezepte .vorschaubild {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.footer-block {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 100px;
    position: relative;
}

.footer-block .footer {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    padding: 40px 60px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -1.00px;
    background-color: var(--beige);
    border-radius: 45px 45px 0px 0px;
}

.footer-block .contacts {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .logo-and-name {
    display: flex;
    width: 1121px;
    align-items: center;
    gap: 50px;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .logo-cook-clever {
    display: flex;
    width: 131px;
    height: 110px;
    align-items: center;
    gap: 10px;
    position: relative;
}

.footer-block .cook-clever-ohne-schrift {
    position: relative;
    width: 131px;
    height: 110px;
    object-fit: cover;
}

.footer-block .name-frame {
    display: inline-flex;
    height: 113px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 25px 0px 0px;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .logo-and-name .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 700;
    color: var(--black);
    font-size: 32px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.footer-block .mitwirkende-frame {
    display: inline-flex;
    align-items: flex-start;
    gap: 154px;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .contact-us {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .heading {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .label {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 7px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--mint);
    border-radius: 7px;
}

.footer-block .label-text {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--h-4-font-family);
    font-weight: var(--h-4-font-weight);
    color: var(--white);
    font-size: var(--h-4-font-size);
    letter-spacing: var(--h-4-letter-spacing);
    line-height: var(--h-4-line-height);
    font-style: var(--h-4-font-style);
}

.footer-block .info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .mitwirkende-frame .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: var(--black);
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
}

.footer-block .mitwirkende-frame .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: var(--black);
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
}

.footer-block .line-and-text {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .line {
    position: relative;
    width: 1120px;
    height: 1px;
    margin-top: -1.00px;
    object-fit: contain;
}

.footer-block .text {
    display: flex;
    width: 667px;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
}

.footer-block .element-cook-clever {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Space Grotesk", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}
